.ranktable-head {
    width: 100%;
    position: fixed;
    z-index: 9999;
    background: #fafafa;
    box-shadow: 0px 0 8px rgba(66, 139, 202, 0.6);
}

.ranktable-head table {
    text-align: center;
    height: 27px;
    line-height: 27px!important;
    margin: 0;
}

.ranktable-head th {
    text-align: center;
    height: 27px;
    line-height: 27px!important;
}

.team-iteam {
    width: 100%;
    position: absolute;
    top: 44px;

    text-align: center;
    height: 67px;
    line-height: 67px !important;

    background: #fff;
}

.team-iteam {
    
}

.team-iteam table {
    text-align: center;
    height: 50px;
    line-height: 50px!important;
    margin: 0;
}

.team-iteam th,
td {
    text-align: center;
    height: 50px;
    line-height: 50px!important;
}

.void-team {
    height: 44px!important;
    line-height: 44px !important;
}

.problem-status span {
    border-radius: 1.25em;
    display: block;
    width: 100%;
    font-size: 100%;
    margin: 15px 0;
}

.team-iteam.hold {
    z-index: 2;
    box-shadow: inset 0 0 3px #FF9800, 0px 0 8px #FFEB3B;
}

.team-name {
    line-height: 25px!important;
}

.rank.gold{
    background: #f9d923;
}

.rank.silver{
    background: #f9d923;
}

.rank.bronze{
    background: #c08e55;
}

::-webkit-scrollbar {
    width: 10px;
    margin-right: 2px
}

::-webkit-scrollbar-track-piece {
    background-color: #F5F5F5;
    border-left: 1px solid #D2D2D2;
}

::-webkit-scrollbar-thumb {
    background: #CBCBCB;
    width: 10px
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 144, 255, 0.61)
}
